<h1>Display all lists</h1>

<%@lists.each do |l|%>
    <div class="card-product">
        <img src="https://source.unsplash.com/random/film" />
        <div class="card-product-infos">
            <%= link_to l.name, list_path(l)%> 
         <%= link_to "Add a bookmark", new_list_bookmark_path(l), class: "btn btn-gradient"%>
         </div>
    </div>
<% end %>
